.app.dark {
  --bg-color: #27275d;
  --inverted-bg-color: #a9a9ff;
  --primary-color: #f00;
  --secondary-color: #a60000;
  --inverted-primary-color: #014f16;
  --inverted-secondary-color: #007558;
}
