.app_dark_theme {
  --bg-color: #27275d;
  --inverted-bg-color: #a9a9ff;
  --primary-color: #f00;
  --secondary-color: #a60000;
  --inverted-primary-color: #014f16;
  --inverted-secondary-color: #007558;
  --skeleton-color: #00180b;
  --skeleton-shadow: #93daa6;
  --code-bg: #4545a6;
  --card-bg: #0d0d6b;
  --listbox-bg: #0d0d6b;

  --dark-bg-redesigned: #090F11;
  --bg-redesigned: #0C1214;
  --light-bg-redesigned: #151C1F;
  --text-redesigned: #DBDBDB;
  --hint-redesigned: #555555;
  --cancel-redesigned: #c51010;
  --save-redesigned: #6CD98B;
  --icon-redesigned: #74A2B2;
  --accent-redesigned: #5ED3F3;
}
