.app_green_theme {
  --bg-color: #43c01a;
  --inverted-bg-color: #f6fbf4;
  --primary-color: #607010;
  --secondary-color: #869d15;
  --inverted-primary-color: #528340;
  --inverted-secondary-color: #adb4ad;
  --skeleton-color: #7e807e;
  --skeleton-shadow: #262626;
  --code-bg: #a0f185;
  --card-bg: #daf3e2;
  --listbox-bg: #daf3e2;
  --dark-bg-redesigned: #F4FBF5;
  --bg-redesigned: #06a716;
  --light-bg-redesigned: #6BE600;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #800000;
  --save-redesigned: #52FA81;
  --icon-redesigned: #508129;
  --accent-redesigned: #408005;
}
