.app_green_theme {
  --bg-color: #43c01a;
  --inverted-bg-color: #f6fbf4;
  --primary-color: #607010;
  --secondary-color: #869d15;
  --inverted-primary-color: #528340;
  --inverted-secondary-color: #adb4ad;
}
