.app_light_theme {
  --bg-color: #a9a9ff;
  --inverted-bg-color: #27275d;
  --primary-color: #014f16;
  --secondary-color: #007558;
  --inverted-primary-color: #f00;
  --inverted-secondary-color: #a60000;
  --skeleton-color: #810808;
  --skeleton-shadow: #ff5959;
  --code-bg: #ddddf3;
  --card-bg: #bcbcfa;
  --listbox-bg: #bcbcfa;
  --dark-bg-redesigned: #FFF;
  --bg-redesigned: #EFF5F6;
  --light-bg-redesigned: #E2EEF1;
  --text-redesigned: #141C1F;
  --hint-redesigned: #ADBCC0;
  --cancel-redesigned: #ff2121;
  --save-redesigned: #62DE85;
  --icon-redesigned: #5ED3F3;
  --accent-redesigned: #00C8FF;
}
