.app.light {
  --bg-color: #a9a9ff;
  --inverted-bg-color: #27275d;

  --primary-color: #014f16;
  --secondary-color: #007558;

  --inverted-primary-color: #ff0000;
  --inverted-secondary-color: #a60000;
}
