.app_light_theme {
  --bg-color: #a9a9ff;
  --inverted-bg-color: #27275d;
  --primary-color: #014f16;
  --secondary-color: #007558;
  --inverted-primary-color: #f00;
  --inverted-secondary-color: #a60000;
  --skeleton-color: #810808;
  --skeleton-shadow: #ff5959;
  --code-bg: #ddddf3;
  --card-bg: #bcbcfa;
  --listbox-bg: #bcbcfa;
}
