:root {
  --font-family-main: Consolas, "Times New Roman", Serif;

  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-size-xl: 32px;

  --font-line-m: 16px;
  --font-line-l: 24px;
  --font-line-xl: 32px;

  --font-m: var(--font-line-m)/var(--font-line-m) var(--font-family-main);
  --font-l: var(--font-line-l)/var(--font-line-l) var(--font-family-main);
  --font-xl: var(--font-line-xl)/var(--font-line-xl) var(--font-family-main);
}
